$google-bg-color:#E8E8E8;
$header-icons: gray;
$width-size: 100%;
$single-padding: 20px;
$adv-fontsize: 14px;
$bg-adv-color: #4285f4;
$bg-h-adv-color: #2E62B7;
$bg-h-br-color: #193F7B;

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/***Advanced Search****/
.google-nav{
  width: $width-size;
  max-height: 500px;
  float: right;
  background-color: $google-bg-color;
}

.gmail-icon {
  border-radius: 50%;
  width: 14px;
  float: right;
  margin-right: 20px;
  margin-top: 28px;
  cursor: pointer;

  & img{
    max-width: $width-size;
    padding-bottom: $single-padding;
    border-radius: 50%;
  }
}

.logo {
  float: left;
  margin-right: 20px;
  margin-top: 28px;
  cursor: pointer;

  & img{
    width: 100px;
    padding-bottom: $single-padding;
    padding-left: $single-padding;
  }
}



.header-icons
{
  float: right;
  width: 200px;
  margin-top: 30px;
  margin-right: 3px;

& .fa-th{
  font-size: 20px;
  margin-top: 5px;
  color: $header-icons;
  float: right;
  margin-right: 20px;
  cursor: pointer;
}
}

.header{
  h4
 {
   padding-bottom: 50px;
   font-weight: 500;
   color: red;
 }
}


.head
 {
  width: $width-size;
  max-height: 500px;
  float: left;
  font-family: sans-serif;
  margin-top: 30px;
& h4 {
  font-weight: 500;
  color: red;
  margin-left: 50px;
}
& hr{
  border-top: 1px solid #f5f5f5;
}
}

.ad-form{
  padding: 50px;
}

/***fhr=fontheaderright***/
.fhr {
  font-size: 17px;
}

/***fhl=fontheaderleft***/
.fhl{
  font-weight: bold;
  color: #070707;
  font-size: $adv-fontsize;
}

.fbr{
font-size: $adv-fontsize;
}

.fbl{
  font-size: 10px;
  line-height: 1.6;
  color: grey;
}
.fbc{
  font-size: $adv-fontsize;
  padding-left: 40px;
}

/***Advanced Search****/
.google-header {
  width: 100%;
  max-height: 500px;
  float: right;
  font-family: sans-serif;
  width: 200px;
  margin-top: 30px;
  margin-right: 10px;

  & a {
    float: right;
    margin-right:15px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
  }

  & a:hover{
    color:grey;
  }
}

.google-search
{
  padding: 20px;
}

.google-image img
  {
    margin: 100px 500px 5px;
    width: 250px;
    cursor: pointer;
    border-radius: 0%;
  }

.input-group
{
  margin: 10px auto 10px;
  border-radius: 20px;
  max-width: 550px;
  background-color: #F5F5F5;
}


.form
{
  border: none!important;
  background-color: #f5f5f5!important;
  box-shadow: none!important;
  box-decoration-break: none;

 & :focus{
     box-shadow: none;
 }
}

.input-group-text
{
  background: transparent!important;
  border: none!important;
}

.input-group {
.fa-search, .fa-camera
{
  color: grey;
  cursor: pointer;
}
.fa-search.right, .fa-microphone
{
  color: blue;
  cursor: pointer;
}

}

.btn-container
{
  padding-top: 30px;
  padding-left: 500px;
}

.btn-container-adv{
  padding-left: 760px;
  padding-top: 20px;
}

.btn-adv{
  height:30px;
  width: auto;
  color: white;
  background: $bg-adv-color;
  border: 1px solid $bg-h-adv-color;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  padding: 7px 10px 15px 10px;

  & :hover{
    background: $bg-h-adv-color;
    border: 1px solid $bg-h-br-color;
  }
}

.btn
{
  height: 40px;
  width: auto;
  color: #646464;
  background: #f2f2f2;
  border: none;
  cursor: pointer;
  text-decoration: none;

  & a{
    color: #646464;
    text-decoration: none;
  }
  & :hover{
    color: #3F3F3F;
    background: #D3D3D3;
    border: .5px solid lightgrey;
  }
}

.icon{
  border: none;
  cursor: pointer;
}

.google-footer {
  padding-top: 20px;
  padding-left: 450px;
  font-family: sans-serif;
& a{
  color: darkblue;
  text-decoration: none;
}
}

//**Mobile View**//
@media only screen and (max-width: 600px) {
//**Index Page**//
//gsm-google search mobile//
.gsm{

}

.google-header {
  float: right;
  margin-top: 30px;
  margin-left: 40px;
  width: 300px;

  & a {
    padding-left: 20px;
    margin-right: 5px;
    color: #333;
    text-decoration: none;
    font-size: 10px;
  }

  & a:hover{
    color:grey;
  }
}

.center{

}

.btn-container
{
  padding-top: 15px;
  padding-left: 70px;
}

.btn
{
  height: 30px;
  width: auto;
  font-size: 10px;

  & a{
    color: #646464;
    text-decoration: none;
  }

  & :hover{
    color: #3F3F3F;
    background: #D3D3D3;
    border: .5px solid lightgrey;
  }
}

.google-image img
  {
    margin: 150px 70px 20px;
    width: 150px;
    cursor: pointer;
    border-radius: 0%;
  }

  .input-group
  {
    max-width: 300px;
    background-color: #F5F5F5;
  }

  .form{
    font-size: 10px;
  }
//**Index Page**//

//*Advanved Search*//
.google-nav, .gmail-icon, .logo{
  display: none;
  visibility: collapse;
}

.head
 {
  width: $width-size;
  max-height: 500px;
  float: left;

& h4 {
  font-weight: 500;
  color: red;
  margin-left: 30px;
}
& hr{
  border-top: 1px solid grey;
}
}
.fhl, .fbl{
display: none;
}

.fbc{
  font-size: $adv-fontsize;
  padding-left: 20px;
}

.btn-container-adv{
  padding-left: 60px;
  padding-top: 20px;
}

.btn-adv{
  height:30px;
  width: auto;
  color: white;
  background: $bg-adv-color;
  border: 1px solid $bg-h-adv-color;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  padding: 7px 10px 15px 10px;

  & :hover{
    background: $bg-h-adv-color;
    border: 1px solid $bg-h-br-color;
  }
}

}

//**Tablet View**//
@media only screen and (max-width: 992px) {
//**Index Page**//
//gsm-google search mobile//

.google-header {
  float: right;
  margin-top: 30px;
  margin-left: 100px;
  width: 500px;

  & a {
    padding-left: 20px;
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    font-size: 10px;
  }

  & a:hover{
    color:grey;
  }
}

.center{

}

.btn-container
{
  padding-top: 15px;
  padding-left: 370px;
}

.btn
{
  height: 40px;
  width: auto;
  font-size: 15px;

  & a{
    color: #646464;
    text-decoration: none;
  }

  & :hover{
    color: #3F3F3F;
    background: #D3D3D3;
    border: .5px solid lightgrey;
  }
}

.google-image img
  {
    margin: 200px 350px 10px;
    width: 250px;
    cursor: pointer;
    border-radius: 0%;
  }

  .input-group
  {
    max-width: 500px;
    height: 40px;
    background-color: #F5F5F5;
  }

  .form{
    font-size: 15px;
    padding-top: 10px;
  }
//**Index Page**//

//*Advanved Search*//

.head
 {
  width: $width-size;
  max-height: 500px;
  float: left;

& h4 {
  font-weight: 500;
  color: red;
  margin-left: 30px;
}
& hr{
  border-top: 1px solid grey;
}
}
.fhl, .fbl{
display: none;
}

.fbc{
  font-size: $adv-fontsize;
  padding-left: 20px;
}

.btn-container-adv{
  padding-left: 550px;
  padding-top: 20px;
}

.btn-adv{
  height:30px;
  width: auto;
  color: white;
  background: $bg-adv-color;
  border: 1px solid $bg-h-adv-color;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  padding: 7px 10px 15px 10px;

  & :hover{
    background: $bg-h-adv-color;
    border: 1px solid $bg-h-br-color;
  }
}

}
